$yiq-text-dark: #000505;
$yiq-text-light: #FAFAFA;
$primary: #1b4079;
$secondary: #EFBB6B;
$success: #678d58;
$info: #f1e3d9;
$warning: #ff4a1c;
$danger: #ca2e55;
$light: #f6f5f1;
$dark: #0B181E;


$spacer: 1rem;
$body-color: darken($dark, 50%);
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$headings-font-weight: 600;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$enable-rounded: false;
$body-bg: #FAFAFA;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.2rem;
$input-btn-padding-x: 1rem;
$input-btn-padding-y-sm: 0rem;
$input-btn-padding-x-sm: 0.75rem;
$input-btn-padding-x-lg: 1.25rem;
$btn-transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
$input-bg: $light;
$input-color: $dark;
$input-border-color: $primary;
$input-transition: border-color cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s,
box-shadow cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s;
$dropdown-padding-y: 0;
$dropdown-spacer: 0.25rem;
$dropdown-bg: $light;
$dropdown-border-color: $primary;
$dropdown-divider-bg: darken($dropdown-bg, 10%);
$dropdown-link-hover-bg: darken($dropdown-bg, 25%);
$dropdown-item-padding-y: 0.2rem;
$dropdown-header-color: lighten($primary, 25%);
$pagination-padding-y: 0.25rem;
$pagination-padding-x: 1rem;
$pagination-padding-y-sm: 0rem;
$pagination-padding-x-sm: 0.8rem;
$pagination-padding-y-lg: 0.3rem;
$pagination-bg: inherit;
$pagination-border-color: $primary;
$pagination-hover-bg: darken($light, 5%);
$pagination-hover-border-color: unset;
$pagination-active-color: $light;
$card-spacer-y: 1rem;
$card-spacer-x: 2.5rem;
$card-border-color: lighten($primary, 50%);
$card-cap-bg: darken($body-bg, 3%);
$card-img-overlay-padding: 0;
$tooltip-color: $dark;
$tooltip-bg: $light;
$tooltip-opacity: 1;
// $tooltip-padding-y: 0.25rem;
// $tooltip-padding-x: 1.25rem;
$popover-inner-padding: 0;
$popover-bg: $tooltip-color;
$popover-header-padding-y: 0.25rem;
$popover-header-padding-x: 1rem;
$popover-body-color: $tooltip-bg;
$popover-body-padding-y: 0.25rem;
$popover-body-padding-x: 1rem;
$badge-padding-y: 0.25rem;
$badge-padding-x: 0.5rem;
$modal-inner-padding: 1rem;
$modal-dialog-margin-y-sm-up: 2rem;
$modal-content-border-color: $primary;
$modal-backdrop-bg: darken($dark, 25%);
$modal-backdrop-opacity: 0.2;
$alert-padding-y: 1rem;
$alert-padding-x: 3rem;
$alert-margin-bottom: $spacer;
$figure-caption-font-size: 90%;
$figure-caption-color: lighten($body-color, 25%);
$breadcrumb-padding-y: 1rem;
$breadcrumb-padding-x: 3rem;
$breadcrumb-bg: lighten($primary, 65%);
$breadcrumb-active-color: $info;
$carousel-control-width: 20%;
$carousel-control-opacity: 1;
$carousel-indicator-width: 0.5rem;
$carousel-indicator-height: 0.5rem;
$carousel-indicator-spacer: 0.25rem;
$carousel-caption-width: 50%;
$carousel-control-icon-width: 2rem;
$carousel-transition: transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
$code-color: $gray-900;
$code-bg: $gray-300;
$pre-color: unset;